!!!5
%html
  %head
    %title Figudex: all the toys and figurines under one roof!
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if notice
      %p.notice= notice
    - if alert
      %p.alert= alert
    = yield